  <% @posts.each do |post| %>
    <div class="container">
      <p class="user_name"><%= image_tag post.user.image.url %><%= post.user.name %></p>
      <p class="post_content"><%= post.content %></p>
    </div>
  <% end %>
